* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}
body {
  padding: 30px;
  font-family: serif;
  font-size: 16px;
  max-width: 624px;
  clear: both;
}
body > * {
  margin-bottom: 30px;
}
body > * > * {
  margin-bottom: 30px;
}
table td,
table th {
  vertical-align: top;
  padding: 2.5px 5px;
  text-align: left;
}
table td > pre,
table th > pre {
  background: none;
  padding: 0;
  margin: 0;
}
header {
  float: left;
  margin: 5px 30px 0 0;
}
nav {
  margin: 0 0 30px;
}
nav ul {
  padding: 0;
  margin: 0 45px 30px 0;
  float: left;
}
nav ul li {
  list-style-type: none;
  white-space: pre;
}
nav ul li a:hover {
  background: #000;
  color: #fff;
}
figure:first-child img {
  margin-left: -30px;
  max-width: calc(100vw - 15px);
  width: 900px;
}
figure > * {
  margin-bottom: 30px;
}
figure figcaption {
  max-width: 400px;
}
h2 {
  max-width: 400px;
}
h4 {
  font-style: italic;
  font-weight: normal;
  line-height: 24px;
  max-width: 400px;
}
ul,
ol {
  margin: 0 30px 30px 30px;
}
ul ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
li {
  margin-bottom: 8px;
}
p {
  line-height: 160%;
}
a {
  color: rgb(50, 49, 70);
  text-decoration: underline;
}
/* EXTERNAL URLS */
a[href*='//'] {
  color: rgb(27, 69, 192);
  text-decoration: none;
}
a[href*='//']:before {
  content: "{";
}
a[href*='//']:after {
  content: "}";
}
a:hover,
::selection {
  background-color: rgba(0, 0, 0, 0.1);
}
q {
  font-family: serif;
  font-size: 18px;
  font-style: italic;
  display: block;
  max-width: 400px;
}
blockquote {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 4px solid rgb(210, 210, 210);
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}
img,
svg {
  max-width: 100%;
  display: block;
  margin: 0 0 15px;
}
pre {
  overflow: auto;
  background: #efefef;
  padding: 10px;
  font-size: 80%;
  margin-bottom: 30px;
  max-height: 700px;
}
code {
  white-space: pre;
}
hr {
  clear: both;
}
footer {
  border-top: 1.5px solid;
  padding: 30px 0 0 0;
  clear: both;
}
footer img {
  margin: 0 0 -10px 0;
  width: 30px;
}
footer > * {
  display: inline-block;
  margin-right: 5px;
}


/* BEGIN special horizontal rule styling */
body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid black;
}

body hr:before {
  display: table;
  content: "";
}

body hr:after {
  display: table;
  clear: both;
  content: "";
}
/* BEGIN special horizontal rule styling */

/* BEGIN special styling for backlinks and footnotes text */
div.footer {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 24px;
  background-color: rgba(36, 36, 38, 0.05);
  color: whitesmoke;
}

div.footer h3 {
  margin-top: 0;
}

div.footer ul {
  column-count: 2;

  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;

  font-size: 0.8em;
}

div.footer ul li {
  padding-bottom: 6px;
}

section.footnotes {
  font-size: 0.8em;
}

section.footnotes ol li:not(:last-child) {
  padding-bottom: 0.3em;
}

section.footnotes ol li p {
  margin: 0;
  padding: 0;
  padding-bottom: 0.4em;
}

section.footnotes hr {
  height: 2px;
}
/* END special styling for backlinks and footnotes text */