.tippy-box {
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.15),
    0 4px 80px -8px rgba(0, 0, 0, 0.25), 0 4px 4px -2px rgba(0, 0, 0, 0.15);
  background-color: #333; /* same as the tippy arrow */
}

.tippy-content {
  padding-top: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
}
