/* BEGIN blurry background */
html {
  /*
  the colours from the iPhone X default wallpaper
  https://external-preview.redd.it/89fT2lqIaQXNpiMaHTVpmXT5oZe-yJjq41uD7ALxH0I.jpg
  https://imagecolorpicker.com/
  */
  background: linear-gradient(-45deg, #d50172, #ed6e58, #003387, #e8e4e1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

html,
body {
  width: 100%;
  height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* END blurry background */

html,
body {
  display: flex;
  flex-flow: column;
  padding: 0;
  line-height: 1.2;
}

body {
  margin: 0 auto;
  line-height:1.6;
  font-size:18px;
  padding:0;
  font-family: Nunito, arial, sans;
  box-sizing: border-box;
  --bg-opacity: 0.5;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

@media (min-width: 640px) {
  #preamble, .grid-container {
    margin-left: 2.5rem;
  }
}

#preamble {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

code {
  background: white;
}

a:not(h1) {
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  text-decoration: underline;
}

.outline-2, #table-of-contents, #postamble {
  border-top: 1px solid #444;
}

blockquote {
  font-style: italic;
  border: 2px dashed #ccc;
  border-left: 2px solid #ccc;
  border-left-width: 4px;
  padding: 0.5rem;
  --bg-opacity: 1;
  --bg-opacity: 1;
  background-color: #fff5f7;
  background-color: rgba(255, 245, 247, var(--bg-opacity));
  /* background-color: #edf2f7; */
  /* background-color: rgba(237, 242, 247, var(--bg-opacity)); */
  margin-bottom: 1rem;
}

.verse {
  font-style: italic;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 40px;
}

table {
  border: 1px solid gray;
}

table td, table th {
  padding: 5px;
  border: 1px solid gray;
}

#postamble {
  font-size:smaller;
}

.ds-note, .outline-2, header {
  --bg-opacity: 0.5;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  --text-opacity: 1;
  color: #4a5568;
  color: rgba(74, 85, 104, var(--text-opacity));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-style: dotted;
  --border-opacity: 1;
  border-color: #a0aec0;
  border-color: rgba(160, 174, 192, var(--border-opacity));
  width: 100%;
  margin-bottom: 1.5rem;
}

.ds-note, .outline-2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex-direction: column;
  display: flex;
  line-height: 1.5;
  letter-spacing: -0.025em;
  font-size: 1.125rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.outline-3 {
  margin-top: 1rem;
}

.outline-3 h3 {
  --bg-opacity: 1;
  background-color: #feebc8;
  background-color: rgba(254, 235, 200, var(--bg-opacity));
}

.outline-4 {
  margin-top: 0.75rem;
}

@media (min-width: 640px) {
  .ds-note, .outline-2 {
    flex-direction: column;
    border-width: 2px;
  }
}

@import url("https://rsms.me/inter/inter.css");

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.page h1 {
  font-weight: 700;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
  --bg-opacity: 1;
  background-color: #fefcbf;
  background-color: rgba(254, 252, 191, var(--bg-opacity));
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1em;
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

p,
li {
  -webkit-letter-spacing: -0.024%;
  -moz-letter-spacing: -0.024%;
  -ms-letter-spacing: -0.024%;
  letter-spacing: -0.024%;
}

header {
  display: flex;
  align-items: center;
  border-style: dotted;
  border-width: 3px;
}

.site-title {
  padding: 0;
  margin: 0;
}

#logo {
  display: inline-block;
  margin: 5px;
}

#logo svg {
  width: 40px;
  height: 40px;
}

.grid-container {
  flex: 1;
  display: flex;
  overflow-x: auto !important;
  white-space: nowrap;
  flex-grow: 1;
}

.ds-grid {
  max-width: 100%;
  flex-grow: 1;
}

.page {
  white-space: normal;
  padding: 10px 10px;
  padding-left: 0;
  margin-right: 10px;
  display: inline-block;
  width: 625px;
  max-width: 100%;
  height: 100% !important;
  max-height: 100%;
  overflow-y: auto;
  vertical-align: top;
  box-sizing: border-box;
}

.page:last-child {
  margin-right: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(10, 132, 255, 1);
}

a:hover {
  opacity: 0.5;
}

code {
  white-space: pre;
  background: #eeeeee;
  border: 1px solid #bbb;
  border-radius: 4px;
  max-width: 100%;
  overflow: auto;
  font-size: 1rem;
}

pre {
  padding: 1px 10px;
}

img {
  max-width: 100%;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

iframe {
  overflow: hidden;
  overflow-y: hidden;
  border: none;
}

.tippy-box > .tippy-arrow:before {
  transform: scale(2);
}

footer {
  background: #fff;
  align-items: center;
  text-align: center;
  color: #ccc;
  border-top: 1px #ccc solid;
  font-size: 10px;
}

.bl-section {
  padding: 10px;
  margin-bottom: 50px;
  background-color: #fee;
}

.backlinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bl-section h4 {
  color: #aaa;
  margin-top: 0;
}

.backlinks a {
  flex: 100%;
  color: rgba(10, 132, 255, 0.75);
}

dt {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  header {
    border-right-width: 0;
    border-bottom-width: 1px;
    padding: 10px 30px;
  }

  #logo {
    margin: 0;
  }

  #logo svg {
    width: 30px;
    height: 30px;
  }

  header > * {
    display: inline-block;
    margin-right: 10px;
  }

  .grid-container {
    padding: 0;
  }

  .page {
    padding-bottom: 150px;
  }
}

a[target=_blank]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

pre.src {
  overflow-x: scroll;
}

.page ul {
  margin-left: 2rem;
  list-style-type: disc;
  list-style-position: outside;
}

.page ul ul li {
  list-style-type: circle;
}

p {
  padding: 0.5rem;
  letter-spacing: -0.025em;
  font-size: 1.125rem;
}

p code {
  display: inline;
}

#buffer-network {
  height: 400px;
}

ul#primary-menu {
  display: flex
}

ul#primary-menu li {
  padding-right: 0.5rem;
}

ul#primary-menu a {
  font-size: 16px;
}

a[target!="_blank"] {
  text-decoration:underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: #fbd38d;
          text-decoration-color: #fbd38d;
  text-decoration-thickness: 3px;
}

ul#primary-menu a.active,
ul#primary-menu a.active:hover {
  text-decoration:underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: #fbd38d;
          text-decoration-color: #fbd38d;
  text-decoration-thickness: 3px;
  --bg-opacity: 1;
  background-color: #feebc8;
  background-color: rgba(254, 235, 200, var(--bg-opacity));
}

pre.src {
  font-size: small;
  background-color: aliceblue;
}

.weeknotes-notes li {
  margin-top: 0.5rem;
}

.weeknotes-graph figure {
  overflow: scroll;
}

.weeknotes-graph .org-svg {
  width: 1000px;
}

@media (min-width: 640px) {
  .sm\:container {
    width: 100%;
  }

  @media (min-width: 640px) {
    .sm\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .sm\:container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .sm\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .sm\:container {
      max-width: 1280px;
    }
  }

  .sm\:block {
    display: block;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:ml-0 {
    margin-left: 0;
  }

  .sm\:pl-2 {
    padding-left: 0.5rem;
  }

  .sm\:text-right {
    text-align: right;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .md\:container {
    width: 100%;
  }

  @media (min-width: 640px) {
    .md\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .md\:container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .md\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .md\:container {
      max-width: 1280px;
    }
  }
}

@media (min-width: 1024px) {
  .lg\:container {
    width: 100%;
  }

  @media (min-width: 640px) {
    .lg\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .lg\:container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .lg\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .lg\:container {
      max-width: 1280px;
    }
  }
}

@media (min-width: 1280px) {
  .xl\:container {
    width: 100%;
  }

  @media (min-width: 640px) {
    .xl\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .xl\:container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .xl\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .xl\:container {
      max-width: 1280px;
    }
  }
}
